@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button *{
  pointer-events: none;
}

/* loader */
.loader {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid #bababa;
  border-right-color: black;
  animation: l2 1s infinite linear;
}

@keyframes l2 {to{transform: rotate(1turn)}}